/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ======================  START UTILITY CLASSES  =============================== */

.flex{
  display: flex;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.jcCenter{
  justify-content: center;
}
.aiCenter {
  align-items: center;
}
.dark{
  color: #333641;
}
.bgColorLight{
}
/* .bgColorDark{
  background-color: #333641;
} */
.flexColumn{
  display: flex;
  flex-direction: column;
}
.fixed{
  position: fixed;
}

.flexAround{
  display: flex;
  justify-content: space-around;
}
/* ====================== END UTILITY CLASSES   ============================== */


/* ======================  START COMMUN RULES  ================================ */
body{
  font-family: 'Fredoka One', cursive;
}
h1 a, h1 a:hover{
  color: #333641;
  text-decoration: none;

}

h1{
  font-weight:bold;
  padding-left: 3.5em;
  font-family: 'Fredoka One', cursive;
}

a:hover, article a{
  text-decoration: none;
  position: relative;
  color: grey ;
  border-bottom: 1px solid grey;
}

article a img {
  width: 100%;
}

main{
  background-color:#f2f1ed;
}

/* ======================  END COMMUN RULES  ================================ */



/* ----------------------------------------------------------------------------
                               index
---------------------------------------------------------------------------- */


/*:::::::::::::::::::::::::::::::HEADER::::::::::::::::::::::::::::::::::::::::*/

header{
  height: 20vh;
  width: 100%;
  z-index: 10;
  background-color:#af997e;

}

nav{
  height: 30%;
  width: 100%;

}
li a:hover{
  text-decoration:none;
}
h1{
  height: 100%;
  width: 60%;
  justify-content: center;
}

.logo{
  height: 100%;
  width: 15%;
  justify-content: center;
}

.logo-connection{
  height: 70%;
  width: 100%;
}

.connection-panier{
  width: 15%;
  margin: auto;
}
/*:::::::::::::::::::::::::::::::::::::MAIN -contact :::::::::::::::::::::::::::::::::::*/

main.contact {
  height: 120vh;
  width: 100%;
}

.reviews {
  position: absolute;
  top:3px;
  left:5px;
  font-size: 0.8em;
}

.reviews i{
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section h2.contact, section h2.allProducts, section h2.index{
  width: 50%;
  text-align: center;
}

form#contact-form{
  width: 50%;
}

/*:::::::::::::::::::::::::::::::::::::MAIN -INDEX :::::::::::::::::::::::::::::::::::*/

main{
  height: 100%;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 3em;
}

.index{
}

.video{
  width: 100%;
  height: 70vh;
}

iframe {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}

section{
  width: 100%;
  height: auto;
}

section.index{
    padding-top: 40vh;
}
section.contact{
  background-color: grey;
}

section h2{
  width: 90%;
  justify-content: center;
  margin: 0em auto;
  padding: 1em;
  border-bottom: 1px solid #212529;
}

article{
  width:20%;
  height:auto;
}

.line-one, .line-two{
  width: 100%;
  height:auto;
  justify-content: space-around;
  margin-top: 4em;
}

/*:::::::::::::::::::::::::::::::MAIN DESCRIPTION::::::::::::::::::::::::::::::::*/

.description{
  width: 100%;
  padding-top: 23vh;
  margin-bottom: 2em;
}

#map, aside{
  width: 48%;
  height: 100%;
}

iframe{
  width: 100%;
  height: 105vh;
}

h3{
  border-bottom: 0.01em solid black;
  margin-bottom: 1em;
}

.address, aside p{
  margin-bottom: 1em;
}

.ligne{
  width: 50%;
  background-color: green;
  border-color: 1px bold black;
}
/*:::::::::::::::::::::::::::::::FOOTER::::::::::::::::::::::::::::::::::::::::::*/

footer{
  width: 100%;
  height :auto;
  align-items: center;
  padding-top: 3em;
}

footer img{
  width: 8%;
  height:
  margin-bottom: 1em;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
